<div id="slider" class="slider-big">
    <h1>Gestión de productos Supermarket</h1>
    
    <nav id="menu">
        <ul>
            <li>
                <a [routerLink]="['/create']" [routerLinkActive]="['active']" href="#" class="btn-white">Crear</a>
            </li>
            <li>
                <a [routerLink]="['/read']" [routerLinkActive]="['active']" class="btn-white">Productos</a>
            </li>
            <li>
                <a [routerLink]="['/update']" [routerLinkActive]="['active']" class="btn-white">Modificar</a>
            </li>
            <li>
                <a [routerLink]="['/delete']" [routerLinkActive]="['active']" class="btn-white">Eliminar</a>
            </li>
        </ul>
    </nav>
</div>

